@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: normal;
  src: local('News Cycle'), local('NewsCycle'), url('http://themes.googleusercontent.com/static/fonts/newscycle/v4/9Xe8dq6pQDsPyVH2D3tMQr3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

/* GENERAL STYLES */

h1, h2, h3, h4, h5, h6 {
  color: #003547;
  font-family: 'News Cycle',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
}

h2, h2 a {
  color: #F58026;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 28px;
  margin-bottom: 2em;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  border-top: 10px solid #003547;
}

header {
  width: 960px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7em;
}

footer {
  height: 7em;
  background-image: url(../imgs/texture-bkgrd.png);
  padding-top: 10px;
}

#footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#footer p {
  font-size: 13px;
}

.contact {
  background: url(../imgs/ts_sm_logo.png) no-repeat top left;
  padding-left: 55px;
  float: left;
}

.navigation {
  background: url(../imgs/presenter_background.png) no-repeat top left;
  padding-left: 20px;
  height: 60px;
  float: right;
}

#footer h3, #footer p {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  margin: 0;
  font-size: 15px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
}

#footer .navigation p {
  width: 180px;
  font-size: 11px;
  margin-top: 0.6em;
  line-height: 1.1em;
}

img.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100;
}

/* SLIDE CONTENT STYLES */


.slide-inner {
  font-family: 'Open Sans',sans-serif;
  font-size: 32px;
}

.slide-inner .small {
  font-size: 20px;
}

.slide-inner h1 {
  font-size: 50px;
  margin-bottom: 0.8em;
}

.slide-inner.tight h1 {
  margin-bottom: 0.6em;
}

.slide-inner.very-tight h1 {
  margin-bottom: 0.4em;
}

.slide-inner ul li {
  margin-left: 1em;
  margin-bottom: 1.2em;
}

.slide-inner.tight ul li {
  margin-bottom: 0.8em;
}

.slide-inner.very-tight ul li {
  margin-bottom: 0.6em;
}

.large-image {
  text-align: center;
}

.large-image img {
  max-height: 470px;
}

.attribution {
  font-style: italic;
  font-size: 18px;
  text-align: right;
}

.footnote {
  font-style: italic;
  font-size: 24px;
}

.attribution .book {
  text-decoration: underline;
}

#north-2 .slide-inner {
  position: relative;
  top: 140px;
}

#north-2 h1 {
  font-size: 120px;
  text-align: center;
}

#north-2 h1 span {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

#north-2 div {
  text-align: center;
}

.globe {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

img.mapbox-logo {
  float: right;
  margin-top: -100px;
  width: 100px;
}

img.energy-gov {
  margin-left: 180px;
  margin-top: 50px;
}

/* BEGIN STYLING IMPRESS SLIDESHOW */

.slide {
  display: block;
  width: 900px;
  height: 600px;
  overflow: hidden;
  padding: 2% 2%;
  background: #F1F1F1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #BEBEBE;
  -moz-box-shadow: #777d7f 0px 1px 2px;
  -webkit-box-shadow: #777d7f 0px 1px 2px;
  -o-box-shadow: #777d7f 0px 1px 2px;
  box-shadow: #777d7f 0px 1px 2px;
}

.slide-inner {
  padding: 10px 20px;
}

img.compass-rose {
  height: 400px;
}

.step-north-3 #north-1,
.step-north-4 #north-1 {
  opacity: 0;
}

#north-2.step:not(.active),
#north-3.step:not(.active),
#north-4.step:not(.active),
#northeast-2.step:not(.active),
#center.step:not(.active) {
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

#north-2.step.active,
#north-3.step.active,
#north-4.step.active,
#northeast-2.step.active,
#center.step.active {
  opacity: 1;
  -webkit-transition: opacity 1s 0.5s, -webkit-transform 0.5s;
  -moz-transition:    opacity 1s 0.5s,    -moz-transform 0.5s;
  -ms-transition:     opacity 1s 0.5s,     -ms-transform 0.5s;
  -o-transition:      opacity 1s 0.5s,      -o-transform 0.5s;
  transition:         opacity 1s 0.5s,         transform 0.5s;
}

.step-center #overview {
  opacity: 0.5;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

/* Welcome and closing messages */

.welcome, .closing {    
    width: 960px;
    margin-left: auto;
    margin-right: auto;   
    z-index: 100;
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.step-intro + .welcome,
.step-outro~.closing {
    opacity: 1;
    -webkit-transition: opacity 1s 2s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 2s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 2s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 2s,      -o-transform 0.5s;
    transition:         opacity 1s 2s,         transform 0.5s; 
}

.welcome-top,
.closing-top {
  position: fixed;
  max-width: 400px;
  margin-left: 20px;
  top: 100px;
}

.welcome-bottom {
  position: fixed;
  bottom: 100px;
  width: 960px;
}

.closing-bottom {
  position: fixed;
  bottom: 100px;
  margin-left: 760px;
}

.welcome-bottom .left {
  float: left;
  padding-top: 50px;
}

.welcome-bottom .right {
  float: right;
}

.welcome-bottom h2 {
  margin-left: 20px;
  margin-bottom: 0;
}

img.ntc-logo,
img.qr-code {
  width: 200px;
}